.card-img-top{
height:40vh;
}

#exploreButton{
    background-color: chocolate
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
      }
  }
  
  @media (min-width: 768px) {
    .card-columns {
        column-count: 2;
      }
  }
  
  @media (min-width: 992px) {
    .card-columns {
        column-count: 4;
      }
  }

@media (min-width: 1200px) {
    .card-columns {
      column-count: 4;
    }
  }